[mysqld]                                         
 port=%MYSQL_PORT%                                    
 server-id=%ID%                                       
 datadir=/home/%APP_NAME%/data/mysql                          
 log_bin=/home/%APP_NAME%/log/mysql/mysql-%MYSQL_PORT%-bin          
 socket=/home/%APP_NAME%/data/mysql/mysql.sock                
 user=%APP_NAME%                                      
 replicate-ignore-db=mysql                                
 character-set-server=utf8                                
 log-error=/home/%APP_NAME%/log/mysql/%MYSQL_PORT%_err
 default-storage-engine=innodb                            
 max_connect_errors=20  

 [client]    
 default-character-set=utf8
